:root {
  --button-primary: #22a2f8;
  --bg-primary: #121c42;
  --bg-header: #fff;
  --bg-section: #f6fbff;
  --hover-color: #ded6ff;
  --bg-media-card: #f6f7fb;
  --bg-testimonial: #05263b;
  --bg-label: #e9f6ff;
}
