* {
  box-sizing: border-box;
}
:root {
  --button-primary: #22a2f8;
  --dark-blue-1: #121c42;
  --bg-header: #fff;
  --bg-section: #f6fbff;
  --hover-color: #ded6ff;
  --bg-media-card: #f6f7fb;
  --bg-testimonial: #05263b;
  --bg-label: #e9f6ff;
  --dark-rgb: 5, 38, 59;
  --base-rgb: 34, 162, 248;
  --section-bg: #f6fbff;
  --light-clr: #ded6ff;
  --title-clr: #121c42;
}
html {
  font-size: 62.5%;
}
body {
  font-family: Roboto, sans-serif;
  font-size: 1.6rem;
  line-height: 2.6rem;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: Inter, sans-serif;
  color: var(--dark-blue-1);
  margin-bottom: 2rem;
}

h1 {
  font-size: 3.6rem;
  margin-top: 2.3rem;
  line-height: 1;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.2rem;
}
p {
  margin: 0;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.blue-g-o {
  color: var(--button-primary);
}
.links {
  border: 1px solid;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, sans-serif;
  font-weight: 600;
  line-height: 120%;
  outline: none;
  overflow: hidden;
  text-align: center;
  text-transform: capitalize;
  transition: all ease 0.3s;
  white-space: nowrap;
  max-width: max-content;
}
.links--primary {
  color: var(--bg-header);
  background-color: var(--button-primary);
  border-color: var(--button-primary, 0.3);
  padding: 12px 35px;
}
.links--primary:hover {
  color: var(--button-primary);
  border-color: var(--button-primary);
  background: transparent;
  border-style: solid;
  border-radius: 1px;
  transition: 0.3s;
}
.links--secondary {
  color: var(--dark-blue-1);
  border-color: var(--hover-color, 0.3);
  padding: 15px 20px;
}
.sect-lbl {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  padding: 1rem 2rem;
  background-color: var(--bg-label);
  text-transform: capitalize;
}
.sect-lbl-ico {
  margin-right: 10px;
  height: 28px;
}
.sect-lbl-txt {
  font-weight: 600;
}

.logo {
  max-width: 130px;
  max-height: 45px;
}

.hamburger {
  width: 25px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
}

.hamburger span {
  display: block;
  height: 3px;
  background-color: var(--dark-blue-1);
  transition: 0.3s;
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(3px, 9px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(3px, -9px);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(var(--dark-rgb), 0.7);
  z-index: 99;
  display: none;
}

.overlay.active {
  display: block;
}
header {
  /* top: 0;
  left: 0;
  right: 0; */
  position: relative;
  width: 100%;
  height: 75px;
  background-color: var(--bg-header);
  z-index: 999;
  box-shadow: 0 0 5px rgba(var(--base-rgb), 0.2);
}
.wrapper {
  width: 100%;
  height: 100%;
  padding-left: 29px;
  padding-right: 29px;
}
nav {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: absolute; */
}
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 9999;
  max-width: 320px;
  background-color: var(--bg-testimonial);
  padding: 30px 20px;
  transition: all ease 0.3s;
  transform-origin: left;
}

.sidebar:not(.active) {
  transform: scaleX(0);
}
.sidebar-list {
  margin-top: 20px;
}
.sidebar-list ul {
  padding: 0;
  text-align: center;
}
.sidebar-list li {
  margin: 10px 0;
}
.sidebar-list a {
  color: var(--bg-header);
}
.sidebar-btn {
  margin-top: 20px;
  text-align: center;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 900, "GRAD" 0, "opsz" 24;
}
.close-sidebar-btn {
  color: #d90429;
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 20px;
}
nav ul {
  display: none;
}
.h-nav-btn {
  display: none;
}
.img-animate {
  position: relative;
  padding: 10px 15px;
  max-width: 500px;
}

.main-img {
  width: 100%;
  max-width: 700px;
  height: auto;
  display: block;
  margin: 30px auto;
}
@keyframes float1 {
  0%,
  100% {
    transform: translateY(-80px);
  }
  50% {
    transform: translateY(-60px); /* Adjust float distance */
  }
}
@keyframes float2 {
  0%,
  100% {
    transform: translateY(-60px);
  }
  50% {
    transform: translateY(-80px); /* Adjust float distance */
  }
}
.float-image1 {
  position: absolute;
  top: 50%; /* Adjust for positioning */
  width: 50%;
  height: auto;
  animation: float1 3s ease-in-out infinite; /* Similar floating effect */
  right: -40px;
}
.float-image2 {
  position: absolute;
  top: 50%; /* Adjust for positioning */
  left: 200;
  width: 50%;
  height: auto;
  animation: float2 3s ease-in-out infinite; /* Similar floating effect */
  left: -40px;
}
.hero {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  align-items: center;
  justify-items: center;
  background-color: var(--section-bg);
  padding: 60px 0;
}
.top-hero {
  text-align: center;
}
.top-hero p {
  margin-bottom: 20px;
}
.service-section {
  text-align: center;
}
.services-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  align-items: center;
  justify-items: center;
}
.service {
  margin: 10px 5px;
  padding: 38px 25px;
  background: #f6f7fb;
  position: relative;
  overflow: hidden;
  height: 100%;
  max-width: 300px;
  text-align: left;
}
.service:hover {
  color: var(--light-clr);
}

.service::before {
  inset: 0 100% 100% 0;
  position: absolute;
  content: "";
  background: var(--title-clr);
  transition: all ease 0.3s;
}
.service:hover::before {
  inset: 0;
}
.service__icon {
  width: 100px;
  height: 100px;
  background: var(--bg-header);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease 0.3s;
  margin-bottom: 20px;
}
.service:hover .service__icon {
  background: rgba(255, 255, 255, 0.2);
}
.service > * {
  position: relative;
  z-index: 1;
}
.service img {
  width: 70px;
  height: auto;
}
@media screen and (min-width: 760px) {
  h1 {
    font-size: 4.4rem;
    margin-top: 2.3rem;
    margin-bottom: 2.3rem;
  }
  h2 {
    font-size: 4.8rem;
    margin-bottom: 2.5rem;
  }
  header {
    height: 100px;
  }
  .links {
    padding: 17px 60px;
  }
  .sect-lbl {
    padding: 1.4rem 2.4rem;
  }
  .sect-lbl-txt {
    font-size: 1.8rem;
  }
  .hamburger {
    display: none;
  }
  nav ul {
    display: flex;
    padding: 0 15px;
  }
  nav ul li {
    margin: 10px;
  }
  nav ul li a {
    font-family: Inter, sans-serif;
    color: var(--dark-blue-1);
    letter-spacing: 1px;
  }
  .h-nav-btn {
    display: contents;
  }
  .hero {
    grid-template-columns: 1fr 1fr;
  }

  .top-hero {
    text-align: left;
  }
  .services-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
