<div class="wrapper">
  <div class="hero">
    <div class="top-hero">
      <div class="sect-lbl">
        <div class="sect-lbl-ico">
          <img src="images/genius.jpg" alt="" />
        </div>
        <span class="sect-lbl-txt"
          >We are <span class="blue-g-o">Genius Ocean</span></span
        >
      </div>
      <h1>Sparks of imagination light up every design</h1>
      <p>
        Discover thousands of easy to customize themes, templates & CMS
        products, made by Team GeniusOcean developers.
      </p>
      <a href="#" class="links links--primary"> All Products</a>
    </div>
    <div class="img-animate">
      <div class="main-img"><img src="images/main-img.png" alt="" /></div>
      <!-- absolute, transform, transition -->
      <div class="float-image1">
        <img src="images/new-customers.png" alt="" />
      </div>
      <!-- absolute, transform, transition -->
      <div class="float-image2"><img src="images/rating.png" alt="" /></div>
    </div>
  </div>
</div>
