<div class="overlay"></div>
<header>
  <div class="wrapper">
    <nav>
      <div class="logo">
        <a href="#"><img src="images/logo.png" alt="" /></a>
      </div>

      <ul>
        <li>
          <a href="http://" target="_blank" rel="noopener noreferrer">Home</a>
        </li>
        <li>
          <a href="http://" target="_blank" rel="noopener noreferrer"
            >Products</a
          >
        </li>
        <li>
          <a href="http://" target="_blank" rel="noopener noreferrer">FAQ </a>
        </li>
        <li>
          <a href="http://" target="_blank" rel="noopener noreferrer">Blog</a>
        </li>
        <li>
          <a href="http://" target="_blank" rel="noopener noreferrer"
            >Support Desk</a
          >
        </li>
      </ul>
      <div class="h-nav-btn">
        <a href="#" class="links links--primary">Contact Us</a>
      </div>

      <div class="sidebar">
        <span class="material-symbols-outlined close-sidebar-btn menu-toggle">
          close
        </span>
        <div class="sidebar-list">
          <ul>
            <li>
              <a href="http://" target="_blank" rel="noopener noreferrer"
                >Home</a
              >
            </li>
            <li>
              <a href="http://" target="_blank" rel="noopener noreferrer"
                >Products</a
              >
            </li>
            <li>
              <a href="http://" target="_blank" rel="noopener noreferrer"
                >FAQ
              </a>
            </li>
            <li>
              <a href="http://" target="_blank" rel="noopener noreferrer"
                >Blog</a
              >
            </li>
            <li>
              <a href="http://" target="_blank" rel="noopener noreferrer"
                >Support Desk</a
              >
            </li>
          </ul>
        </div>
        <div class="sidebar-btn">
          <a href="#" class="links links--primary">Contact Us</a>
        </div>
      </div>
      <div class="hamburger menu-toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </nav>
  </div>
</header>
