<div class="sect-lbl">
  <div class="sect-lbl-ico"><img src="images/genius.jpg" alt="" /></div>
  <span class="sect-lbl-txt"
    >We are <span class="blue-g-o">Genius Ocean</span></span
  >
</div>

<div class="sect-lbl">
  <div class="sect-lbl-ico"><img src="images/info.png" alt="" /></div>
  <span class="sect-lbl-txt"
    >About <span class="blue-g-o">Genius Ocean</span></span
  >
</div>

<div class="sect-lbl">
  <div class="sect-lbl-ico"><img src="images/service.png" alt="" /></div>
  <span class="sect-lbl-txt">Our Services</span>
</div>

<div class="sect-lbl">
  <div class="sect-lbl-ico"><img src="images/f-products.png" alt="" /></div>
  <span class="sect-lbl-txt">featured Products</span>
</div>

<div class="sect-lbl">
  <div class="sect-lbl-ico"><img src="images/product.png" alt="" /></div>
  <span class="sect-lbl-txt">Our Product</span>
</div>

<div class="sect-lbl">
  <div class="sect-lbl-ico"><img src="images/blog-icon.png" alt="" /></div>
  <span class="sect-lbl-txt">Blog Posts</span>
</div>

<div class="sect-lbl">
  <div class="sect-lbl-ico"><img src="images/cta-icon.png" alt="" /></div>
  <span class="sect-lbl-txt">Our <span class="blue-g-o">Products</span></span>
</div>
