<div class="wrapper">
  <div class="service-section">
    <div class="sect-lbl">
      <div class="sect-lbl-ico">
        <img src="images/service.png" alt="" />
      </div>
      <span class="sect-lbl-txt">Our Services</span>
    </div>
    <h2>Explore What We Offer</h2>

    <div class="services-list">
      <div class="service">
        <div class="service__icon">
          <img src="images/graphics-design.png" alt="" />
        </div>
        <div>
          <h3>Graphics Design</h3>
          <p>We Provide Standard Graphical Service for your website and App.</p>
        </div>
      </div>
      <div class="service">
        <div class="service__icon">
          <img src="images/web-development.png" alt="" />
        </div>
        <div>
          <h3>Web Development</h3>
          <p>We Provide Standard Graphical Service for your website and App.</p>
        </div>
      </div>
      <div class="service">
        <div class="service__icon">
          <img src="images/mobile-app-dev.png" alt="" />
        </div>
        <div>
          <h3>Mobile App Dev</h3>
          <p>We Provide Standard Graphical Service for your website and App.</p>
        </div>
      </div>
    </div>
  </div>
</div>
